<div class="container__big-card">
    <div class="big-card__photo">
    <img src="https://www.si.com/.image/t_share/MjA0NDM2NDkxMzgyODI2Nzg0/usatsi_22551703_168397759_lowres.jpg"
         alt=""
         height=""
         width="">
    </div>
    <div class="big-card__title">
    <h1> <a href="https://www.uol.com.br/esporte/ultimas-noticias/2024/02/18/damian-lillard-e-bicampeao-do-torneio-de-3-pontos-da-nba.htm" target="_blank">Bicampeão do torneio de 3 pontos da NBA</a></h1>
    </div>
    <div class="big-card__description">
        <p>
           Damian Lillard conquistou seu segundo título consecutivo no torneio de 3 pontos da NBA neste sábado (17/02/2024).
        </p>
         
        
    </div>
</div>